<footer class="footer">
    <div class="container">
        <div class="footer-layout">
            <!-- Logo and Description Column -->
            <div class="brand-column">
                <div class="logo-wrapper">
                    <img src="resources/images/logo.svg" alt="Química de Altura" class="logo">
                </div>
                <p class="description">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sintelit officia consequat
                </p>
            </div>

            <!-- Links Columns -->
            <div class="links-column">
                <h4 class="heading">Contáctanos</h4>
                <ul class="links-list">
                    <li><a href="#">Link here</a></li>
                    <li><a href="#">Link here</a></li>
                    <li><a href="#">Link here</a></li>
                    <li><a href="#">Link here</a></li>
                </ul>
            </div>

            <div class="links-column">
                <h4 class="heading">Nosotros</h4>
                <ul class="links-list">
                    <li><a href="#">Link her e</a></li>
                    <li><a href="#">Link here</a></li>
                    <li><a href="#">Link here</a></li>
                    <li><a href="#">Link here</a></li>
                </ul>
            </div>

            <div class="links-column">
                <h4 class="heading">Políticas</h4>
                <ul class="links-list">
                    <li><a href="#">Link here</a></li>
                    <li><a href="#">Link here</a></li>
                    <li><a href="#">Link here</a></li>
                    <li><a href="#">Link here</a></li>
                </ul>
            </div>

            <!-- Social Media Column -->
            <div class="social-column">
                <h4 class="heading">Redes sociales</h4>
                <div class="social-icons">
                    <a href="#" class="icon-circle" aria-label="Social 1"></a>
                    <a href="#" class="icon-circle" aria-label="Social 2"></a>
                    <a href="#" class="icon-circle" aria-label="Social 3"></a>
                    <a href="#" class="icon-circle" aria-label="Social 4"></a>
                </div>
            </div>
        </div>
    </div>
</footer>