<section class="problem-mission" id="problem-mission">
    <div class="container">
        <h2 class="main-title">Problema y Misión</h2>
        <h3 class="main-subtitle">Falta de acceso a medicamentos y preservación del conocimiento etnobotánico.</h3>

        <!-- Section: ¿Por qué hacemos esto? -->
        <div class="cards-layout">
            <div class="mission-card">
                <div class="card-bg"></div>
                <div class="watermark">01</div>
                <div class="content">
                    <div class="icon-bulb">
                        <img src="resources/images/bot.svg" alt="Icono" class="icon">
                    </div>
                    <h3 class="card-title">Acceso Limitado a Medicamentos</h3>
                    <p class="card-text">
                        En México, la escasez limita el acceso a tratamientos esenciales para quienes más lo necesitan.
                    </p>
                </div>
            </div>

            <div class="mission-card">
                <div class="card-bg"></div>
                <div class="watermark">02</div>
                <div class="content">
                    <div class="icon-bulb">
                        <img src="resources/images/bot.svg" alt="Icono" class="icon">
                    </div>
                    <h3 class="card-title">Riesgo Local</h3>
                    <p class="card-text">
                        En la región de Córdoba y las Altas Montañas, el valioso conocimiento etnobotánico está en
                        peligro.
                    </p>
                </div>
            </div>

            <div class="mission-card">
                <div class="card-bg"></div>
                <div class="watermark">03</div>
                <div class="content">
                    <div class="icon-bulb">
                        <img src="resources/images/bot.svg" alt="Icono" class="icon">
                    </div>
                    <h3 class="card-title">La Necesidad</h3>
                    <p class="card-text">
                        Urge una herramienta que proteja este patrimonio y genere nuevas soluciones terapéuticas
                        locales.
                    </p>
                </div>
            </div>
        </div>



    </div>
</section>